@{
    ViewData["Title"] = "Home Page";
}
@{
    IEnumerable<string> strList = new List<string> { "POO", "TW", "MAT3", "FIS" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-group row">
    <label>Nombre de Usuario</label>
    @Html.TextBox("Nombre de Usuario", "", new{@class= "form-control"})

    <label>Password</label>
    @Html.Password("contrasena", "", new{@class = "form-control"})
</div>

<div class="form-group row">
    <label>Genero</label>
    <div class="form-group">
        <label>Masculino</label>
        @Html.RadioButton("Genero", "Masculino", false, new {id= "masculino"})

        <label>Femenino</label>
        @Html.RadioButton("Genero", "Femenino", false, new {id = "femenino"})
    </div>
</div>

<div class="form-group">
    Dirección
    @Html.TextArea("Direccion", "",new{@class= "form-control", id= "idDireccion"})
</div>

<div class="form-group">
    Bailar
    @Html.CheckBox("Bailar", false)
    
    Correr
    @Html.CheckBox("Correr", false)
    
    Escalar
    @Html.CheckBox("Escalar", false)
    
    Peliculas
    @Html.CheckBox("Peliculas", false)
    
</div>

<div>
    @Html.DropDownList("ddlCurso", new SelectList(strList,strList.FirstOrDefault()), "--Seleccionar curso----")
</div>

<div class="form-group">
    @Html.ListBox("Seleccionar habilidades", new List<SelectListItem>{
    new SelectListItem {Text = "C#", Value = "1" }, 
    new SelectListItem {Text = "ASP.NET", Value = "2"},
    new SelectListItem {Text = "ASP.NET Core", Value = "3"},
    new SelectListItem {Text = "Azure", Value = "4"}
    })
</div>

